
body{
    width: 99vw;
    height: 98vh;
    display: grid;
    grid-template-columns: 2% 13% 83% 2%;
    grid-template-rows: 2% 18% 70% 8% 2%;
    grid-template-areas: 

    ". . . ."
    ". h h ."
    ". n m ."
    ". f f ."
    ". . . ."

    ;
}

header{
    grid-area: h;
    border: 1px solid green;
    margin: 1vw;
    padding: 1vw;
}

nav{
    grid-area: n;
    border: 1px solid blue;
    margin: 1vw;
    padding: 1vw;
    overflow-y: auto;
}

nav > ul {
    padding-left: 0;
    font-size: 0.8vw;
    line-height: 2.5vh;
}

li{
    list-style: none;
}

main{
    grid-area: m;
    border: 1px solid black;
    margin: 1vw;
    padding: 1vw;
}

#tableRowAddBtn{
    width:100%;
    height: 1.5vw;
    margin-top: 10px;
    border-radius: 10px;
    border: 0.1px solid grey;
}


table{
    table-layout: auto;
    border-collapse:collapse;
    width: 100%;
}

thead{
    background-color: rgb(212, 245, 238);
}

th{
    background-color: rgb(131, 221, 243);
}

tr{
    border: 2px solid white;
}

.firstLevel {
    background-color: rgba(128, 128, 128, 1);
}

.secondLevel {
    background-color: rgba(128, 128, 128, 0.8);
}

.thirdLevel{
    background-color: rgba(128, 128, 128, 0.5);;
}

th:nth-child(1){
    border-radius: 10px 0 0 10px ;
}

th:nth-child(5){
    width: 10%;
    border-radius: 0 10px 10px 0;
}

td{
    height: 20px;
    vertical-align: top;
    border: 1px solid black;
}

input{
    background-color: transparent;
    border: none;
    width: 100%;
}

p{
    margin: 0;
    height: 100%;
}

.contentWrapper{
    float: left;
    width: 90%;
}

.title{
    width: 100%;
}

.extension{
    float: left;
    width: 10%;
    margin:0;
    text-align: right;
}

.extensionBtn{
    border: none;
    width: 100%;
    font-weight: bolder;
    background-color: transparent;
}

.contents{
    width: 100%;
    display: none;
}

.contents p{
    height: 100%;
    vertical-align: top;
}

.number{
    width: 7%;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.registDate{
    width: 10%;
    text-align: center;
}

.finDate{
    width: 10%;
}

.btnManager{
    width: 3%;
    border-radius: 0 10px 10px 0;
}

.blank{
    display: inline-block;
    width:100%;
    height: 50%;
    text-align: right;
}

.subOrder{
    display: inline-block;
    width: 70%;
    height: 100%;
    border-top: solid 0.5px grey;
    border-left: solid 0.5px grey;
    text-align: center;
}

.subRegisDate{
    display: inline-block;
    width: 70%;
    height: 50%;
    border: purple 1px solid;
}

footer{
    grid-area: f;
    border: 1px solid red;
    margin: 1vw;
    padding: 1vw;
}


.hoverHidden{
    opacity: 1;
}


.hoverHidden:hover {
    opacity: 1;
}


.hoverHidden > button{
    background-color: transparent;
    border: none;
}

.hoverHidden > button:active{
    background-color: grey;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 5px;
}