
body{
    width: 99vw;
    height: 98vh;
    display: grid;
    grid-template-columns: 1% 13% 85% 1%;
    grid-template-rows: 2% 18% 70% 8% 2%;
    grid-template-areas: 

    ". . . ."
    ". h h ."
    ". n m ."
    ". f f ."
    ". . . ."

    ;
}

header{
    grid-area: h;
    background-color: rgb(185, 202, 228);
    border-radius: 10px;
    margin: 0.5vw;
    padding: 1vw;
}

nav{
    grid-area: n;
    background-color: rgba(157, 219, 221, 0.5);
    border-radius: 10px;
    margin: 0.5vw;
    padding: 1vw;
    overflow-y: auto;
}

nav > ul {
    padding-left: 0;
    font-size: 0.8vw;
    line-height: 2.5vh;
}

li{
    list-style: none;
}

main{
    grid-area: m;
    margin: 0.5vw;
    padding: 1vw;
    padding-top: 0;
    
}

#tableDiv{
    height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
}

#tableRowAddBtn{
    width: 2000%;
    height: 1.5vw;
    border-radius: 10px;
    font-size: 1vw;
    background-color: transparent;
    border: 0.1px dashed rgba(128, 128, 128, 0.527);
}

#tableRowAddBtn:active{
    width: 2000%;
    height: 1.5vw;
    border-radius: 10px;
    font-size: 1vw;
    background-color: rgba(128, 128, 128, 0.3);
    border: 0.1px dashed rgba(128, 128, 128, 0.527);
}

table{
    table-layout: auto;
    border-collapse:collapse;
    width: 100%;
}

th{
    background-color: rgb(131, 221, 243);
}

tr{
    border: 2px solid white;
}

.firstLevel > td {
    background-color: rgb(136, 218, 82);
}

.firstLevel > .numberTD > .number {
    background-color: rgb(136, 218, 82);
}

.secondLevel > td{
    background-color: rgba(136, 218, 82, 0.6);
}

.secondLevel > .numberTD > .number {
    background-color: rgba(136, 218, 82, 0.6);
}

.thirdLevel > td{
    background-color: rgba(211, 240, 51, 0.4);
}

.thirdLevel > .numberTD > .number {
    background-color: rgba(211, 240, 51, 0.4);
}

.fourthLevel > td{
    background-color: rgba(236, 234, 132, 0.4);;
}

.fourthLevel > .numberTD > .number {
    background-color: rgba(236, 234, 132, 0.4);;
}

th:nth-child(1){
    border-radius: 10px 0 0 10px ;
}

th:nth-child(5){
    width: 10%;
    border-radius: 0 10px 10px 0;
}

td{
    height: 20px;
    vertical-align: top;
    border: 0.5px solid rgb(129, 129, 129);
    border-bottom: none;
    border-top: none;
    padding: 0;
}

input{
    background-color: transparent;
    border: none;
    width: 100%;
}

p{
    margin: 0;
    height: 100%;
}

.contentWrapper{
    float: left;
    width: 90%;
    min-height: 100%;
}

.title{
    width: 100%;
    height: auto;
}

.extension{
    float: left;
    width: 10%;
    margin:0;
    text-align: right;
}

.extensionBtn{
    border: none;
    width: 100%;
    font-weight: bolder;
    padding-right: 20%;
    text-align: right;
    background-color: transparent;
}

.contents{
    width: 100%;
    display: none;
}


.number{
    display: inline-block;
    border-radius: 10px 0 0 10px;
    height: 101%;
    text-align: left;
    text-indent: 15%;
}

.numberTD{
    width: 5%;
    border-radius: 10px 0 0 10px;
    text-align: right;
    padding: 0;
    background-color: transparent !important;
}

.firstLevel > td > .number {
    width: 100%;
}

.secondLevel > td > .number {
    width: 83%;
}

.thirdLevel > td > .number {
    width: 70%;
}

.fourthLevel > td > .number {
    width: 60%;
}

.fifthLevel > td > .number {
    width: 40%;
}

.registDate{
    width: 10%;
    text-align: center;
}

.finDate{
    width: 10%;
}

.btnManager{
    width: 11%;
    text-align: center;
    border-radius: 0 10px 10px 0;
}

.blank{
    display: inline-block;
    width:100%;
    height: 50%;
    text-align: right;
}

.subOrder{
    display: inline-block;
    width: 70%;
    height: 100%;
    border-top: solid 0.5px grey;
    border-left: solid 0.5px grey;
    text-align: center;
}

.subRegisDate{
    display: inline-block;
    width: 70%;
    height: 50%;
    border: purple 1px solid;
}

footer{
    grid-area: f;
    border: 1px solid red;
    margin: 0.5vw;
    padding: 1vw;
}


.hoverHidden{
    opacity: 1;
}


.hoverHidden:hover {
    opacity: 1;
}

.hoverHidden > button{
    background-color: transparent;
    border: none;
}

.hoverHidden > button:active{
    background-color: rgba(207, 204, 204, 0.603);
    border: 1px solid rgb(85, 84, 84);
    border-radius: 5px;
}

.finTable{
    border: 3px solid green;
    height: 34%;
    overflow-y: auto;
}

